<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
	        	<li><a href="/projects">Projects</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    {{ content }}
    		<div class="blurb">
        		<h1>Hi there, I'm Shahid Zaka!</h1>
				<p>I'm learning javascript, <em>a lingua franca</em>on the web. <a href="/about">Read more about my life...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:szaka.02@gmail.com">email</a></li>
        		<li><a href="https://github.com/szaka">github.com/szaka</a></li>
			</ul>
		</footer>
	</body>
</html>
